.dashboard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.productcard {
    display: flex;
    flex-basis: 16%;
    padding: 2%;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 920px) {
    .productcard {
      flex: 1 25%;
    }
  }

  @media (max-width: 600px) {
    .productcard {
      flex: 1 46%;
    }
  }